body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 5.625rem;
  /*line-height: 2;*/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #00adb5;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #00ADB5;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr{
  border: dotted #EEEEEE 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p{
  line-height: 2;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  /*margin: 10px 20px;*/
  text-decoration: none;
}

.navBar.a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

ul{
  display: inline;
  padding: 75px;
}

.skillSubtitle{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

.skillSubtitle:hover{
  color: #40514E;
}

.navLink{
  color: #EAF6F6;
  margin: 10px -50px;
}

.navLink:hover{
  color: #11999E;
}

.navBar{
  background-color: #222831;
  color: #EAF6F6;
  padding: 25px;
  position: relative;
  bottom: 0px;
}

.top-container{
  background-color: #222831;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #393E46;
  color: #11999E;
  padding: 50px 0 20px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro{
  text-decoration: underline;
}

.comet{
  position: absolute;
  right: 150px;
  top: 75px;
}

.astro{
  position: absolute;
  left: 150px;
  bottom: 300px;
}

.moon{
  display: block;
  margin: auto;
  position: relative;
  bottom: 0px;
}

.profile-pic{
  border-radius: 50%;
}

.main-pic{
  width: 15%;
}

.left-icon{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.right-icon{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bio{
  width: 30%;
  margin: auto;
}

.footer-link{
  margin: 10px 20px;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn{
	background:linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
	background-color:#11cdd4;
	border-radius:8px;
	border:1px solid #5fbcfa;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #03161c;
}
.btn:hover{
	background:linear-gradient(to bottom, #11999e 5%, #11cdd4 100%);
	background-color:#11999e;
}
.btn:active{
	position:relative;
	top:1px;
}
